<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

<video autoplay muted loop id="myVideo">
    <source src="/static/bgv.mp4" type="video/mp4">
</video>

<div class="content">
    <h1>Welcome to Shark V2</h1>
    <p>The Quick Analytics Platform for Global Stocks</p>

    <div style="margin-top: 5%">
        <ul>
            <li><a href="/snapshot">Daily Snapshot</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Other Services</a>
                <div class="dropdown-content">
                    <a href="/analysis">Past 4 days Analysis</a>
                    <a href="/data">Past 4 days Raw Data</a>
                    <a href="#">Link 3</a>
                </div>
            </li>
        </ul>
    </div>
</div>


</body>
</html>